@font-face {
  font-family: "Prompt-Regular";
  src: url("./fonts/Prompt-Regular.ttf");
}

* {
  margin: 0px;
  font-size: 15px;
  border: none;
  outline: none;
  font-family: "Prompt-Regular";
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/*Utilities*/
.ml-auto {
  float: right;
}

.mr-auto {
  float: left;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.w-100 {
  width: 100%;
}

/*Header*/
header {
  width: 100%;
  height: 50px;
  padding: 1% 1.5%;
  box-sizing: border-box;
}

header > div > a {
  text-decoration: none;
  margin-right: 1rem;
  color: #333333;
  font-weight: 600;
}

header > div > span > svg {
  margin-right: 1rem;
  margin-bottom: -3%;
}

header > div > .btn {
  margin-right: 1rem;
}

.action-icon {
  cursor: pointer;
}

/*Container*/
.container {
  width: 100%;
  height: 88%;
  padding: 0px 1.5%;
  box-sizing: border-box;
  margin-top: 1%;
}

.center-div {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

/*Buttons*/
.btn {
  width: auto;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  background: #136960;
  color: #ece8e8;
  border-radius: 10px;
}

.btn-default-hover:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

/*Others*/
.title {
  color: #333333;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
}

/*Login*/
.login-div {
  width: 30%;
  height: auto;
  text-align: center;
  padding: 2%;
  box-sizing: border-box;
}

.login-div > span > svg {
  width: 150px;
  height: 150px;
}
